*{
    box-sizing: border-box;
    margin: 5% 40%
}

.btn{
    background-color: #eee;
    border:1px solid #ccc;
    outline:none;
    cursor: pointer;
    font-size: 1em;
    padding: .5em 1em;
    border-radius: .4em;
}
.btn:hover, .btn:focus{
    background-color: #ddd;
    box-shadow: 0 0 5px 0px #ccc;
}
.btn-primary{
    background-color: hsl(168, 50%, 47%);
    border-color:  hsl(138, 70%, 27%);
    color: white;
}
.btn-primary:hover, .btn-primary:focus{
    background-color: hsl(138, 70%, 37%);
    box-shadow: 0 0 5px 0 hsl(0, 0%, 27%);
}

.btn-accent{
    background-color:hsl(50, 100%, 40%);
    color: white;
    border-color: hsl(50, 100%, 30%);
}

.btn-accent:hover, .btn-accent:focus{
    background-color:  hsl(50, 100%, 35%);
    box-shadow:0 0 5px 0 hsl(50, 100%, 30%);
}

.btn-danger{
    background-color:hsl(6, 100%, 50%);
    color: white;
    border-color: hsl(6, 100%, 40%);
}

.btn-danger:hover, .btn-danger:focus{
    background-color:  hsl(6, 100%, 45%);
    box-shadow:0 0 5px 0 hsl(6, 100%, 40%);
}

.btn-large{
    font-size:1.25em;
}

.btn-small{
    font-size:0.75em;
}

.btn-oval{
    border-radius: 100000000px;
}